<h1 class="p-5 text-white">My Cart</h1>
<% if @order_items.any? %>
  <table class="table mb-5">
    <thead>
      <tr>
        <th class="py-2">Product</th>
        <th class="py-2">Quantity</th>
        <th class="py-2">Unit Price</th>
        <th class="py-2">Total</th>
        <th class="py-2">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @order_items.each do |item| %>
        <tr>
          <td class="py-2"><%= item.product.name %></td>
          <td class="py-2"><%= item.quantity %></td>
          <td class="py-2"><%= number_to_currency(item.unit_price) %></td>
          <td class="py-2"><%= number_to_currency(item.unit_price * item.quantity) %></td>
          <td class="py-2">
            <%= button_to 'Remove', remove_item_cart_path(item.product), method: :delete, class: 'rounded-full m-0 text-white' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h2 class="mb-4 p-3 text-white">Total <%= number_to_currency(@order_items.sum { |item| item.unit_price * item.quantity }) %> dollars</h2>
  <div class="flex justify-start m-5">
    <%= button_to 'Checkout', checkout_create_path, method: :post, class: 'rounded-full text-white' %>
  </div>
<% else %>
  <p class="my-4 p-5 text-white">Your cart is empty.</p>
<% end %>


<style>

button.rounded-full.text-white {
  padding: 0.370rem;
  background-color: #0000FF;
}

button.rounded-full.text-white:hover {
  padding: 0.370rem;
   background-color: #060663;
}

button.rounded-full.m-0.text-white {
  padding: 0.370rem;
  background-color: #e50915;
}

button.rounded-full.m-0.text-white:hover {
  padding: 0.370rem;
  background-color: #e50600;
}

</style>
