<div class="container mx-auto my-8 p-6 max-w-lg shadow-md rounded-lg">
  <h1 class="text-3xl mb-5 text-center text-black">Checkout Summary</h1>
  <p class="mb-4 ml-7 text-black">You are purchasing the following items</p>
  <ul class="mb-4 list-disc list-inside">
    <% @order.order_items.each do |item| %>
      <li class="flex items-center mb-4 text-black">
        <%= image_tag(item.product.image_url, alt: item.product.name, class: 'w-20 h-20 object-cover rounded-full mr-4') %>
        <div>
          <strong><%= item.product.name %></strong> - Quantity <%= item.quantity %> - Unit Price in dollars <%= number_to_currency(item.unit_price) %>
        </div>
      </li>
    <% end %>
  </ul>
  <button id="pay" class="w-full text-white py-2 rounded">Pay</button>

  <script src="https://js.stripe.com/v3/"></script>
  <script>
    document.getElementById('pay').addEventListener('click', function() {
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @order.checkout_session_id %>'
      });
    });
  </script>
</div>

<style>

.container.mx-auto.my-8.p-6.max-w-lg.shadow-md.rounded-lg {
  background-color: #ffeb02;
}

#pay {
  background-color: #0000FF;
  width: 100%;
}

#pay:hover {
  background-color: #060663;
}

.container img {
  margin-right: 1rem;
}
</style>
